<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ app.request.locale }}" lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
    	<meta name="language" content="{{ app.request.locale }}" />
    	<meta property="og:image" content="{{ asset('files/logo.png') }} " />

      {% block stylesheets %}
  	<link rel="stylesheet" type="text/css" href="{{ asset('/css/screen.css') }}" media="screen, projection" />
  	<link rel="stylesheet" type="text/css" href="{{ asset('/fonts/fontello/css/fontello.css') }}" />
  	<link rel="stylesheet" type="text/css" href="{{ asset('/css/main.css') }}" />
  	<link rel="stylesheet" type="text/css" href="{{ asset('/css/mainmenu.css') }}" />
  	<link rel="stylesheet" type="text/css" href="{{ asset('/css/form.css') }}" />
  	<link rel="stylesheet" type="text/css" href="{{ asset('/css/foot.css') }}" />
  	<link rel="stylesheet" type="text/css" href="{{ asset('/css/color.css') }}" />
      {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <title>{% block title %}{%if title is defined %}{{ title }}{% else %}{{ config.findParameter('siglas') }}{% endif %}{% endblock %}</title>
  </head>

  <body>
    <div style="position:relative;">
      <div id="header_bar">
        <ul>
        	<li><span style="float:right; position:relative">
        		{% for language in config.findParameter('languages')|split(',') %}
        			<a class="language_link" href="{{ path('site_index')}}?lang={{ language }}">{{ language }}</a>
        		{% endfor %}
        		</span>
          </li>
          <li>
            {% if is_granted('ROLE_USER') %}
            <a href="{{ path('logout') }}"><i class="icon-logout header-icons"></i>{% trans %}Logout{% endtrans %} ({{ app.user.username }})</a>
        	</li>
          <li><a href="{{ path('user_panel') }}"><i class="icon-home header-icons"></i>{% trans %}My page{% endtrans %}</a>
        	</li>
        		{% else %}
              <a href="{{ path('site_login') }}"><i class="icon-user-female header-icons"></i>{% trans %}Login{% endtrans %}</a>
            {% endif %}
        	</li>
            {% if config.findParameter('socialActivateNonFree') == '1' %}
      		<li>
      			{% if config.findParameter('socialFacebookURL') %}
      				<a href="{{ config.findParameter('socialFacebookURL') }}" target="_blank"><i class="icon-facebook-squared header-icons"></i></a>
            {% endif %}
      			{% if config.findParameter('socialTwitterURL') %}
      				<a href="{{ config.findParameter('socialTwitterURL') }}" target="_blank"><i class="icon-twitter header-icons"></i></a>
            {% endif %}
      		</li>
        	{% endif %}
        	<li>
        		<a href="{{ path('newsletter') }}"><i class="icon-megaphone header-icons"></i>{% trans %}Newsletters{% endtrans %}</a>
        	</li>
        	<li>
        		<a href="{{ path('archive') }}"><i class="icon-folder-1 header-icons"></i>{% trans %}Archive{% endtrans %}</a>
        	</li>
        </ul>
      </div>

    {% if config.findParameter('socialActivateNonFree') and app.request.cookies == false %}
    	{{ block('cookieAlert') }}
    {% endif %}

      <div id="header" >
      	<div id="observatoryTitle">
      		<span style="cursor:pointer" onclick="window.location='{{ path('homepage') }}';">
      		{{ config.findParameter('administrationName') }}
      		</span>
      	</div>
      </div>
    {% include 'layouts/mainmenu.html.twig' %}

    <div class="container" id="page">
        {% for type, messages in app.session.flashbag %}
            {% for message in messages %}<!-- flash-{{ type }} block -->
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}<!-- end flash-{{ type }} block -->
        {% endfor %}
    	{% block body %}{% endblock %}
    	<div class="clear"></div>
    </div><!-- page -->
    {# include 'footer.lang.html.twig' #}

    </body>
</html>
